.form {
    display: flex;
    justify-content: center;
    padding: 25px 38px;
}

.modal {
    width: 100%;
    max-width: 800px;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.modal-container-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.modal-add-select-button-line {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.modal-add-task-button {
    width: 100px;
    color: #FFFFFF;
    background-color: #646FF0;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.modal-select-button {
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    background-color: #CCCDDE;
    border: 1px solid #CCCDDE;
    width: 130px;
    padding: 10px 10px;
    font-weight: 500;
    cursor: pointer;
}

.modal-container-list {
    background-color: #ECEDF6;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.modal-container-list-message {
    padding: 10px;
    border-radius: 10px;
    background-color: #DEDFE1;
    width: 80px;
    height: auto;
    font-weight: 500;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-form {
    width: 500px;
    background-color: #ECEDF6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-close-icon {
    background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 16 16" width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill: rgb(88, 88, 88); opacity: 1; transform: rotate(0deg) scale(0.7, 0.7);"><g><path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"></path></g></svg>');
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.popup-close-icon:hover {
    background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 16 16" width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill: rgb(255, 255, 255); opacity: 1; transform: rotate(0deg) scale(0.7, 0.7);"><g><path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"></path></g></svg>');
    background-color: red;
}

.popup-header {
    font-size: 20px;
    font-weight: 700;
    color: #646681;
}

.popup-input-box {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    /* outline: none; */
    border: none;
    box-sizing: border-box;
    margin-top: 10px;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.popup-buttons {
    display: flex;
    gap: 20px;
}

.popup-close-button {
    width: 100px;
    color: #646681;
    background-color: #CCCDDE;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.modal-container-data {
    display: flex;
    flex-direction: column;
    height: auto;
}

.modal-container-data-list {
    display: flex;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}

.checkbox {
    box-sizing: border-box;
    height: 30px;
}

.modal-container-list-title {
    width: 150px;
    display: flex;
    align-items: center;
    margin-left:20px ;
}

.modal-container-list-status {
    width: calc(100% - 310px);
    display: flex;
    align-items: center;
}

.modal-container-delete-data-icon {
    background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 16 16" width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill: rgb(88,88,88); opacity: 1; transform: rotate(0deg) scale(0.7, 0.7);"><g><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path></g></svg>');
    width: 40px;
    height: 30px;
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #EEEEEE;
}

.modal-container-edit-data-icon {
    background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 16 16" width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill: rgb(88,88,88); opacity: 1; transform: rotate(0deg) scale(0.7, 0.7);"><g><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"></path></g></svg>');
    width: 40px;
    background-size: 25px;
    border-radius: 5px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-color: #EEEEEE;
}